/**
 * 简单的气泡样式
 * Build with Compass & SASS
 * @author yinruo.nyj@taobao.com
 * @example HTML:
 * <div class="bubble">
 *     <!-- 箭头，通过arrow-top, arrow-left, arrow-right, arrow-bottom来设置箭头方向 -->
 *     <span class="arrow-top"><i></i></span>
 * </div>
 */

.bubble {
  padding: 5px;
  background-color: white;
  border: 1px solid #cccccc;
  color: inherit;
  position: relative;
  line-height: normal;
  _zoom: 1; }

.bubble .arrow-top, .bubble .arrow-bottom, .bubble .arrow-left, .bubble .arrow-right {
  border: 7px solid transparent; }
  .bubble .arrow-top i, .bubble .arrow-bottom i, .bubble .arrow-left i, .bubble .arrow-right i {
    border: 6px solid transparent; }
  .bubble .arrow-top, .bubble .arrow-bottom, .bubble .arrow-left, .bubble .arrow-right, .bubble .arrow-top i, .bubble .arrow-bottom i, .bubble .arrow-left i, .bubble .arrow-right i {
    position: absolute;
    height: 0;
    width: 0;
    _line-height: 0;
    _border-style: dashed; }

.bubble .arrow-top {
  *border-bottom-color: #cccccc;
  border-width: 7px;
  top: -14px;
  left: 7.2px;
  border-bottom-color: inherit;
  *border-bottom-color: #cccccc; }
  .bubble .arrow-top i {
    border-width: 6px;
    top: -5px;
    left: -6px;
    border-bottom-color: white; }
  .bubble .arrow-top, .bubble .arrow-top i {
    _border-bottom-style: solid; }

.bubble .arrow-bottom {
  *border-top-color: #cccccc;
  border-width: 7px;
  bottom: -14px;
  _bottom: -15px;
  left: 7.2px;
  border-top-color: inherit;
  *border-top-color: #cccccc; }
  .bubble .arrow-bottom i {
    border-width: 6px;
    top: -7px;
    left: -6px;
    border-top-color: white; }
  .bubble .arrow-bottom, .bubble .arrow-bottom i {
    _border-top-style: solid; }

.bubble .arrow-left {
  *border-right-color: #cccccc;
  border-width: 7px;
  left: -14px;
  top: 7.2px;
  border-right-color: inherit;
  *border-right-color: #cccccc; }
  .bubble .arrow-left i {
    border-width: 6px;
    left: -5px;
    top: -6px;
    border-right-color: white; }
  .bubble .arrow-left, .bubble .arrow-left i {
    _border-right-style: solid; }

.bubble .arrow-right {
  *border-left-color: #cccccc;
  border-width: 7px;
  right: -14px;
  top: 7.2px;
  border-left-color: inherit;
  *border-left-color: #cccccc; }
  .bubble .arrow-right i {
    border-width: 6px;
    left: -7px;
    top: -6px;
    border-left-color: white; }
  .bubble .arrow-right, .bubble .arrow-right i {
    _border-left-style: solid; }
