.ks-radio,.ks-radio-hover,.ks-radio-selected,.ks-radio-disabled{
	background:url('http://img03.taobaocdn.com/tps/i3/T1Xj_tXbxeXXaKS.fo-232-65.png') -7px -33px;
	cursor: pointer;
	height: 17px;
	line-height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 17px;
	display: inline-block;			
}
.ks-radio-disabled{
	background-position:-153px -33px;			
}
.ks-radio-hover{
	background-position:-170px -33px;
}
.ks-radio-selected{
	background-position:-80px -33px;			
}