/*
 * @name:checkcode.css
 * @description:ͳһ��֤��
 * @author:wondger@gmail.com
 * @date:2012-06-04
 */
.i-text{height:26px;vertical-align:middle;line-height:26px;}
.checkcode-ctrl{display:inline-block;zoom:1;*display:inline;width:175px;height:32px;vertical-align:middle;}
.kv-item{padding-left:60px;}
.kv-item .kv-label{display:inline;width:60px;float:left;margin-left:-60px;line-height:32px;font-size:14px;}
.kv-item .msg-inline{vertical-align:middle;}
.hide{visibility:hidden;}
.show{visibility:visible;}

/*checkcode DPL*/
