
/*轨道*/
.chrome-track, .chrome-track-hover, .chrome-track-active,
    /*向上箭头*/
.chrome-arrowup, .chrome-arrowup-hover, .chrome-arrowup-active,
    /*向下箭头*/
.chrome-arrowdown, .chrome-arrowdown-hover, .chrome-arrowdown-active,
    /*拖拽条*/
.chrome-drag, .chrome-drag-hover, .chrome-drag-active,
.chrome-dragtop, .chrome-dragbottom , .chrome-dragcenter {
    width:17px;
    background-image:url(http://img04.taobaocdn.com/tps/i4/T1_pWVXaFdXXXXXXXX.png);
    background-repeat:repeat-y;
}


/*轨道*/
.chrome-track {
    background-position:-51px 0;
}
.chrome-track-hover {
    background-position:-51px 0;
}
.chrome-track-active {
    background-position:-51x 0;
}





/*上下箭头 这个样式木有*/
.chrome-arrowup, .chrome-arrowdown {
    display:block;
    text-indent: -1000px;
    width:17px;
    height:17px;
    overflow:hidden;
}

.chrome-arrowup {
    background-position:0 0;
}
.chrome-arrowup-hover {
    background-position:-17px 0;
}
.chrome-arrowup-active {
    background-position:-34px 0;
}


.chrome-arrowdown {
    background-position:0 -17px;
}
.chrome-arrowdown-hover {
    background-position:-17px -17px;
}
.chrome-arrowdown-active {
    background-position:-34px -17px;
}



/*拖拽条*/
.chrome-drag{
    background-position:-153px 0;
}

.chrome-drag .chrome-dragtop{
    position:absolute;
    top:0px;
    height:10px;
    background-position:-102px 0;
    z-index:200;
}

.chrome-drag .chrome-dragbottom{
    position:absolute;
    bottom:0px;
    height:10px;
    background-position:-119px bottom;
    z-index:201;
}

.chrome-drag .chrome-dragcenter{
    position:absolute;
    z-index:199;
    top:50%;
    margin-top:-10px;
    height:20px;
    background-position:-136px 0;
}

/*------------*/
.chrome-drag-hover{
    background-position:-221px 0;
}

.chrome-drag-hover .chrome-dragtop{
    background-position:-170px 0;
}

.chrome-drag-hover .chrome-dragbottom{
    background-position:-187px bottom;
}

.chrome-drag-hover .chrome-dragcenter{
    background-position:-204px 0;
}

/*------------*/
.chrome-drag-active{
    background-position:-289px 0;
}

.chrome-drag-active .chrome-dragtop{
    background-position:-238px 0;
}

.chrome-drag-active .chrome-dragbottom{
    background-position:-255px bottom;
}

.chrome-drag-active .chrome-dragcenter{
    background-position:-272px 0;
}

