/*--------- 图片上传主题样式，目前应用于爱逛街 BY 苏河、明河（优化） ---------*/
.imageUploader-queue .imageUploader-button,
.imageUploader-queue .del-pic{
    background: url(http://img02.taobaocdn.com/tps/i2/T1RHbnXkxrXXXe0nbf-349-134.png) 2px 2px no-repeat transparent;
}
/*图片预览 START*/
.imageUploader-queue .tb-pic120 {
    *overflow: hidden;
    display: table;
    text-align: center;
    table-layout: fixed;
}
.imageUploader-queue .tb-pic120  img{
    display:none;
    border:none;
}
.imageUploader-queue .tb-pic120 a {
    display: table-cell; /*非IE、IE8、IE9的主流浏览器识别的垂直居中的方法*/
    vertical-align: middle;
    /*text-align: center;*/
    *display: block;
    *font-family: Arial; /*防止非utf-8引起的hack失效问题，如gbk编码*/
    *line-height: 1; /* 避免行高导致垂直居中有误 */
}

.imageUploader-queue .tb-pic120 a {
    *font-size: 105px;
}

.imageUploader-queue .tb-pic120 a img {
    vertical-align: middle;
}

.imageUploader-queue .tb-pic120, .tb-pic120 a {
    width: 120px;
    height: 120px;
}

.imageUploader-queue .tb-pic120 img {
    max-width: 120px;
    max-height: 120px;
    _width: 120px;
}

/*图片预览 END*/

.imageUploader-queue {
    padding: 15px 25px 5px;
    background: #f4f4f4;
    position: relative;
    z-index: 10;
    margin-bottom: 40px;
    overflow: hidden;
    width: 660px;
    font-size:12px;
    list-style:none;
}
.imageUploader-queue .tips {
    position: absolute;
    z-index: 10;
    background-position: 0 -130px;
    width: 350px;
    height: 55px;
    top: 60px;
    left: 200px;
}

.imageUploader-queue li {
    width: 120px;
    height: 120px;
    float: left;
    position: relative;
    background-color: #fff;
}

.imageUploader-queue .imageUploader-button {
    display: block;
    width: 110px;
    height: 110px;
    padding: 5px;
    position: relative;
    z-index: 9;
    text-decoration: none;
    background: url(http://img02.taobaocdn.com/tps/i2/T1RHbnXkxrXXXe0nbf-349-134.png) 2px 2px no-repeat transparent;
}
.imageUploader-queue .uploader-button-disabled{
    background-position: -125px 2px;
}
.imageUploader-queue .imageUploader-button .count {
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 5px;
    color: #868887 !important;
    _width: 120px
}
.imageUploader-queue .drop-wrapper{
    cursor:pointer;
}
.imageUploader-queue li a img {
    max-width: 120px;
    max-height: 120px;
}

.unimageUploader-queue {
    overflow: hidden;

}

.imageUploader-queue ul {
    width: 660px;
    overflow: hidden;
    max-height: 284px;
    margin: 0;
}

.imageUploader-queue li {
    border: solid 1px #e0e0e0;
    background: #fff;
    margin: 0 10px 10px 0;
}

.imageUploader-queue li.clear {
    clear: both;
    height: 0px;
    width: 0px;
    overflow: hidden;
    font-size: 0px;
    line-height: 0px;
}
.imageUploader-queue .imageUploader-button .bg, .imageUploader-queue .go-on .bg {
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    z-index: 9;
    left: 5px;
    top: 5px;
}

.imageUploader-queue .imageUploader-button .bg {
    background-position: -5px -6px;
}

.imageUploader-queue .go-on .bg {
    background-position: -133px -6px;
}

.imageUploader-queue li .wrapper {
    position: relative;
    z-index: 10;
}

.imageUploader-queue li .pic-mask {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: #fff;
    filter: alpha(opacity = 70);
}

.imageUploader-queue li .del-pic {
    background-position: -257px -101px;
    color: #676767;
    display: none;
    height: 24px;
    left: 31px;
    padding-top: 4px;
    position: absolute;
    text-decoration: none;
    text-indent: 18px;
    top: 50px;
    width: 60px;
    z-index: 11;
}

/*上传完成后*/
.tips-uploading, .tips-upload-error, .tips-upload-success, .tips-upload-waiting,
.tips-deleting, .tips-delete-error, .tips-delete-success, .tips-delete-waiting {
    left: 0;
    position: absolute;
    top: 50px;
    width: 118px;
    z-index: 11;
}

.tips-text {
    width: 120px;
    text-align: center;
}

imageUploader-queue li .loading-icon {
    color: #666;
    background-position: -337px -101px;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle
}

.tips-upload-error, .tips-delete-error {
    color: #eb1176;
}

.tips-upload-success, .tips-delete-success {
    color: #49a417;
}

.tips-upload-waiting {
    color: #666;
}

/*进度条*/
.imageUploader-queue  .ks-progress-bar {
    height: 8px;
    width: 90px;
    background: #b2b2b2;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    margin: 6px 0 0 10px;
}

.imageUploader-queue .ks-progress-bar  .ks-progress-bar-value {
    width: 0%;
    height: 8px;
    background: #db0869;
    display: block;
}

.imageUploader-queue .file-input-wrapper {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 12;
    filter: alpha(opacity = 0);
    opacity: 0;
    top: 0;
    left: 0;
    overflow: hidden;
}

.imageUploader-queue .file-input-wrapper .file-input {
    height: 500px;
    display: block;
    width: 220px;
    cursor: pointer;
    font-size: 100px;
    margin-top: -50px;
    position: absolute;
    left: 0;
    top: -200px;
    opacity: 0;
    filter: alpha(opacity = 0);
    z-index: 14;
}
.imageUploader-queue .status-wrapper .status {
    text-align: center;
}
.swf-hide{
    position: absolute;
    top:-3000px;
    left:0;
}
