/**
* 华丽的样式: nice theme
* @author yiminghe@gmail.com
*/

/*轨道*/
.nice-track,
.nice-arrowup,
.nice-arrowdown,
.nice-drag,
.nice-dragtop, 
.nice-dragbottom, 
.nice-dragcenter {
    width:15px;
}

/*轨道*/
.nice-track {
    background-image:url(middle.png);
    background-repeat:repeat-y;
}

/*上下箭头 这个样式木有*/
.nice-arrowup, .nice-arrowdown {
    text-indent: -1000px;
    height:14px;
    position:absolute;
    right:0;
}

.nice-arrowdown a{
    margin-top:-10px;
} 

.nice-arrowup a, .nice-arrowdown a{
    display:block;
    height:24px;
    background-repeat:no-repeat;
}

.nice-arrowup a{
    background-image:url(top.png);
   
}

.nice-arrowup{
     top:0;
}

.nice-arrowdown {
     bottom:0;
}

.nice-arrowdown a{
    background-image:url(bottom.png);
   
}



/*拖拽条*/
.nice-dragtop, .nice-dragbottom, .nice-dragcenter{
    position:absolute;
}

.nice-drag {
    z-index:10;
}

.nice-dragtop{    
    top:0px;
    height:10px;
    background-image:url(bar_top.png);   
    z-index:2;
}

.nice-dragbottom{
    position:absolute;
    bottom:0px;
    height:10px;
    background-image:url(bar_bottom.png);  
     z-index:2;  
}

.nice-dragcenter{
    top:10px;
    bottom:10px;
    background-image:url(bar_middle.png);
    background-repeat:repeat-y; 
}
