#J_Luckybox{
	width:712px;
	height:408px;
	background: #7bd0db;
	padding: 5px;
	*padding-bottom:3px;
}
#J_Luckybox .lucky-row{
	width:712px;
	height:102px;
}
#J_Luckybox .double-h{
	height:204px;
}
#J_Luckybox img.lucky-item{
	width:100px;
	height:100px;
	float: left;
	margin:0px 2px 2px 0px;
	position: relative;
}
#J_Luckybox img.last-item{
	margin-right: 0px;
}
#J_Luckybox img.sel-item{
	z-index: 60;
}

#J_Luckybox img.win-item{
	border: 1px solid red;
}

#J_Luckybox .lucky-row .J_center{
	width:512px;
	_width:510px;
	height:205px;
	background: url('http://img04.taobaocdn.com/tps/i4/T1.KjrXd8dXXazItzU-512-205.png') no-repeat;
	float: left;
}
#J_Luckybox .lucky-row .J_sider{
	height:205px;
	width:100px;
	float: left;
}

#J_btnStart{
	display: block;
	width:106px;
	height:200px;
	float: right;
	margin: 1px 1.5px 0px 0px;
	text-indent: 9999px;
	overflow: hidden;
	text-decoration: none;
}
.btn-down{
	background: url('http://img02.taobaocdn.com/tps/i2/T1I2vrXlBiXXcLKi.p-106-200.png') no-repeat;
}
.btn-up{
	background: url('http://img03.taobaocdn.com/tps/i3/T1xtjqXl0tXXcLKi.p-106-200.png') no-repeat;
}

.lucky-shadow{
	position: absolute;
	z-index:-9999;
	background: #7bd0db;
	filter:alpha(opacity =50);
    -moz-opacity:0.5 ;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display: none;
}

 #overlay{
 	 position:absolute;
 	 left:-9999px;
 	 top:-9999px;
 }
 #overlay img{
 	width:166px;
 	height:166px;
	border: 1px solid #bbb;
	margin: 14px 0px 0px 14px;
	float: left;
	cursor: pointer;
 }
 #overlay .J_Info{
 	width:150px;
 	height:126px;
 	float: left;
 	margin: 14px 0px 0px 10px;
 	color:#666;
 	font-size: 12px;
 }
  #overlay .J_Info h3{
  	height: 25px;
  	line-height: 25px;
  	width:132px;
  	overflow: hidden;
  	text-overflow:ellipsis;
  	font-size: 14px;
  	margin: 0px;
  	padding: 0px;
  }
  #overlay .J_Info p{
    margin: 2px 0px 0px 0px;
  	padding: 0px;
  	width: 148px;
  	height: 104px;
  	overflow: hidden;
  	text-overflow:ellipsis;
  }
 .ks-ext-close-x{
 	display: block;
 	width:20px;
 	height:20px;
 	background:url('http://img01.taobaocdn.com/tps/i1/T1E2rlXa8sXXcu5FDa-20-20.png') no-repeat;
 	position:absolute;
 	left:332px;
 	_left:325px;
 	top:5px;
 	text-indent: -9999px;
 	overflow: hidden;
 }
 #btn_goto{
 	display:block;
 	margin:14px 10px;
 	width:82px;
 	height:26px;
 	line-height:26px;
 	font-size:14px;
 	background:url('http://img02.taobaocdn.com/tps/i2/T11LfqXgFpXXcQ2rDp-82-26.png') no-repeat;
 	color:#fff;
 	float: right;
 	text-indent: 9999px;
	overflow: hidden;
 }
 
 #J_luckyItemShadow{
 	width:100px;
 	height:100px;
	position: absolute;
	z-index: 2;
	filter:alpha(opacity =50);
    -moz-opacity:0.5 ;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background: #000;
    display: none;
    text-align: center;
    line-height: 100px;
   cursor: pointer;
 }
 #J_luckyItemShadow span{
 	font-family:Microsoft Yahei;
 	 text-decoration: none;
  	color:#fff;
  	font-size: 12px;
 }