/* 隐藏 */
.ks-hidden { display: none; }
.ks-invisible { visibility: hidden; }

/* 清除浮动 */
.ks-clear:after { content: '\20'; display: block; height: 0; clear: both; }
.ks-clear { *zoom: 1; }

/* inline block */
.ks-inline-block { display: inline-block; *display: inline; }

.page-content {
    padding: 10px;
    border: 2px solid #e0f0ef;
    margin-bottom: 10px;
    height: 280px;
    overflow: auto;
}
.page-content img {
    border: 1px solid #999;
    padding: 4px;
    margin-right: 8px;
}
.tl-follow-items {
    color: #666;
}
.tl-follow-items .pic {
    float: left;
    height: 60px;
    margin: 0;
    width: 60px;
}

.tl-follow-items .name, .tl-follow-items .num,
.tl-follow-items .txt,
.tl-follow-items .last-feeds, .tl-follow-items .tags,
.tl-follow-items .say {
    margin-left: 70px;
    margin-bottom: 4px;
}
.tl-follow-items .say {
    margin-top: 4px;
}
.tl-follow-items  .name {
    color: #3D3D3D;
    font-weight: 700;
    margin-top: -2px;
}
.tl-follow-items .name a {
    color:#07B;
}
.tl-follow-items .num {
    padding-left: 25px;
    text-align: left;
}
.tl-follow-items .txt,
.tl-follow-items .name,
.tl-follow-items .last-feeds,
.tl-follow-items .tags {
    height: 20px;
    overflow: hidden;
}
.tl-follow-items .txt {
    height: 18px;
    margin-top: -4px;
}
.tl-follow-items .last-feeds a, .tl-follow-items .last-feeds a:link,
.tl-follow-items .last-feeds a:visited, .tl-follow-items .txt, .tl-follow-items .tags  {
    color: #999;
}
.tl-follow-items .last-feeds a:hover {
    text-decoration: none;
}
.friends-list {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 15px;
}

.friends-list .friends-items {
    float: left;
    margin-right: 30px;
    width: 335px;
    height: 60px;
    margin-bottom: 30px;
    overflow: hidden;
}
.friends-list .add-friend {
    margin-left: 70px;
}

.friends-list .friends-items .last-feeds,
.friends-list .friends-items .txt,
.friends-list .friends-items .tags,
.tl-follow-items .last-feeds {
    margin-bottom: 0;
}

.friends-list .friends-items .add-friend .tl-gray-bt {
    padding-top: 2px;
    padding-bottom: 2px;
}

.c2c-select {
    text-align: left;
}