.ks-radio,.ks-radio-hover,.ks-radio-selected,.ks-radio-disabled{
	background:url('http://img03.taobaocdn.com/tps/i3/T1AJbXXfxlXXaFMh7j-57-201.png') -21px -132px;
	cursor: pointer;
	height: 17px;
	line-height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	width: 17px;
	display: inline-block;			
}
.ks-radio-disabled{
	background-position:-21px -98px;			
}
.ks-radio-hover{
	background-position:-21px -58px;
}
.ks-radio-selected{
	background-position:-21px -15px;			
}


